.personal-list-card{
/*  height: 400px;*/
  width: 206px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-top;
  margin: 0px  32px  33px  0px;
  padding: 0px  0px  0px  0px;
  position: relative;
  z-index: 1;
  /*border: green solid 1px;*/
}

.card-img-wrapper {
  height: 251px;
  width: 206px;
}

.card-img{
  object-fit: fill;
  height: 251px;
  width: 206px;
/*  border: red solid 1px;*/
  z-index: 5;
}

.card-img-background{
  position: absolute;
  height: 251px;
  width: 206px;
  border-radius: 24px;
  z-index: -1;
}

.card-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
/*  border: green solid 1px;*/
}

.card-text-name {
  margin-bottom: 14px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.card-text-team-role {
  margin: 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.card-img-figure {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 70%;
  top: -10%;

  z-index: -1;
}
