.about_us_header {
    /* padding-top: 20px; */
    max-width: 1133px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 100px;
    overflow: hidden;
    position: relative;
/*    border: green solid 1px;*/
}


.about_us_header__nav-and-title-wrapper {
    padding-bottom: 94px;
    z-index: 1;
}

.about_us_header__logo-Link {
    cursor: pointer;
    max-width: 52px;
    margin-left: 0px;
}

.about_us_header__nav-wrapper {
    display: flex;
    flex-direction: row;
    gap: 31px;
    width: 1110px;
    width: 100%;
    padding-top: 18px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.about_us_header__nav {
    display: flex;
    flex-direction: row;
    gap: 48px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #1D1D1D;
}

