.header-elipse {
    /* padding-top: 20px; */
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    overflow: hidden;
    position: relative;
    /*border: green solid 1px;*/
}

.header-elipse__logo-Link {
    cursor: pointer;
    max-width: 52px;
}

.header-elipse__nav-wrapper {
    max-width: 1093px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 18px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
   
}

.header-elipse__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #1D1D1D;
}

.header-elipse__nav-link {
  margin-left: 20px;
  text-decoration: none;
}

.header-elipse__elipse-wrapp {
    position: absolute;
    z-index: -3;
    bottom: 30px;
    right: -10px;
    overflow: hidden;
    max-width: 350px;
    width: 100%;
  
  }
  
  .header-elipse__elipse {
  }
  