.header-short {
    /* padding-top: 20px; */
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
/*    border: green solid 1px;*/
}

.header-short__logo-Link {
    cursor: pointer;
    max-width: 52px;
}

.header-short__nav-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: flex-start;
    padding: 18px 0px 0px 169px;
}

.header-short__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #1D1D1D;
}

.header-short__nav-link {
  margin-left: 20px;
  text-decoration: none;
}
 
@media screen and (max-width: 768px) {
    .header-short {
        /* padding-top: 20px; */
        max-width: 768px;
  /*      width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;*/
 /*       overflow: hidden;
        position: relative;*/
        /*border: green solid 1px;*/
    }
    
    .header-short__logo-Link {
   /*     cursor: pointer;
        max-width: 52px;*/
        margin-right: 20px;
        margin-left: 61px;
    }
    
    .header-short__nav-wrapper {
        max-width: 768px;
        /*width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;*/
        padding-top: 18px;
        /*text-align: center;
        vertical-align: middle;
        align-items: center;
        padding: 18px 0px 0px 65px;*/
    }
    
    .header-short__nav {
   /*     display: flex;
        flex-direction: row;
        flex-wrap: wrap;*/
        gap: 27px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.015em;
        text-decoration: none;
        color: #1D1D1D;
    }
    
    .header-short__nav-link {
      margin-left: 0px;
      
    }
  }